# Node modules
/node_modules

# Laravel Mix / Vite
/public/hot

# Laravel storage（全体を無視）
/storage/*

# ただし storage/app/public/products は追跡対象にする
!/storage/app
!/storage/app/public
!/storage/app/public/products
!/storage/app/public/products/.gitkeep

# 鍵ファイルやキャッシュ
/storage/*.key
.phpunit.result.cache

# Composer の依存
/vendor

# 環境設定ファイル
.env
.env.backup

# Docker 設定ファイル（ローカル開発用）
docker-compose.override.yml

# Homestead 設定
Homestead.json
Homestead.yaml

# npm/yarn ログ
npm-debug.log
yarn-error.log

# IDE設定
/.idea
/.vscode